<div class="video-player">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="{{ videoPlayerCtrl.nowPlaying.id ? 'https://www.youtube.com/embed/' + videoPlayerCtrl.nowPlaying.id.videoId : '' }}" allowFullScreen></iframe>
  </div>
  <div class="video-player-details">
    <h3>{{videoPlayerCtrl.nowPlaying.snippet ? videoPlayerCtrl.nowPlaying.snippet.title : "No Video Loaded"}}</h3>
    <div>{{videoPlayerCtrl.nowPlaying.snippet ? videoPlayerCtrl.nowPlaying.snippet.description : "Please select video to load in search bar"}}</div>
  </div>
</div>